<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="./scripts//app.js"></script>
  <script src="./vendor/jquery-3.0.0.js"></script>
  <link href="./vendor/border-box.css" />
  <link href="./vendor/normalize-4.1.1.css" />

  <link rel="stylesheet" href="/styles/layout.css" type="text/css">

  <title>Sweet Leaf</title>
</head>
<body>
  <header>
    <h1>Sweet Leaf</h1>
    <nav>
      <a href="index.ejs>" class= "nav">Menu</a>
      <a href="login.ejs" class="nav">Admin Login</a>
      <a href="cart.ejs" class="nav">View Cart</a>
    </nav>

  </header>
  <div>
    <h2>Bowls</h2>
    <% for (i=0; i < bowls.length; i++) { %>
      <div class="menu_item">
        <img src= "<%= bowls[i].image%>" />
        <h3 class="menu_item"><%= bowls[i].name %></h3>
        <a href="partials/_item.ejs">See details</a>
      </div>
    <% } %>
    <!-- save items from database as const bowls, const salads etc in order for this to work -->
  </div>
  <div>
    <h2>Salads</h2>
    <% for (i=0; i < salads.length; i++) { %>
      <div class="menu_item">
        <img src= "<%= salads[i].image%>" />
        <h3 class="menu_item"><%= salads[i].name %></h3>
        <a href="partials/_item.ejs">See details</a>
      </div>
    <% } %>
  </div>
  <div>
    <h2>Desserts</h2>
    <% for (i=0; i < drinks.length; i++) { %>
      <div class="menu_item">
        <img src= "<%= drinks[i].image%>" />
        <h3 class="menu_item"><%= drinks[i].name %></h3>
        <a href="partials/_item.ejs">See details</a>
      </div>
    <% } %>
  </div>
  <footer>
    <h4>&copy; 2021 Veronika, Kyle, April </h4>
  </footer>
</body>
</html>
