<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <script src="./scripts//app.js"></script>
  <script src="./vendor/jquery-3.0.0.js"></script>
  <link href="./vendor/border-box.css" />
  <link href="./vendor/normalize-4.1.1.css" />
  <title>Sweet Leaf</title>
</head>
<body>
  <header>
    <h1>Sweet Leaf</h1>
    <nav>
      <a href="index.ejs>" class= "nav">Menu</a>
      <a href="login.ejs" class="nav">Admin Login</a>
      <a href="cart.ejs" class="nav">View Cart</a>
    </nav>

  </header>
  <div>
    <h2>Appetizers</h2>
    <% for (i=0; i < appetizers.length; i++) { %> 
      <div class="menu_item">
        <img src= "<%= appetizers[i].image%>" />
        <h3 class="menu_item"><%= appetizers[i].name %></h3>
        <a href="partials/_item.ejs">See details</a>
      </div>  
    <% } %>
    <!-- save items from database as const appetizers, const entrees etc in order for this to work -->
  </div>
  <div>
    <h2>Entrees</h2>
    <% for (i=0; i < entrees.length; i++) { %> 
      <div class="menu_item">
        <img src= "<%= entrees[i].image%>" />
        <h3 class="menu_item"><%= entrees[i].name %></h3>
        <a href="partials/_item.ejs">See details</a>
      </div>  
    <% } %>
  </div>
  <div>
    <h2>Desserts</h2>
    <% for (i=0; i < desserts.length; i++) { %> 
      <div class="menu_item">
        <img src= "<%= desserts[i].image%>" />
        <h3 class="menu_item"><%= desserts[i].name %></h3>
        <a href="partials/_item.ejs">See details</a>
      </div>  
    <% } %>
  </div>
  <footer>
    <h4>&copy; 2021 Veronika, Kyle, April </h4>
  </footer>
</body>
</html>